@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');

// ICONS
img.search:hover {
  content: url(../../assets/icons/search-white.svg);
}
img.facebook:hover{
  content: url(../../assets/icons/facebook-white.svg);
}
img.instagram:hover{
  content: url(../../assets/icons/instagram-white.svg);
}
img.youtube:hover{
  content: url(../../assets/icons/youtube-white.svg);
}
img.twitter:hover{
  content: url(../../assets/icons/twitter-white.svg);
}

// BURGUER COLLAPSE
.navbar-toggler-icon {
  background-image: url(../../assets/icons/toggler-tomato.svg);
}

#logo{
    background-color:black;
    user-select: none;
    a{
      text-decoration: none;
    }
    h1{
        font-family: 'Kumar One', cursive;
        color:tomato;
    }
}

#mainMenu{
    background-color:tomato;
    ul li a{
        color:black;
        text-decoration: none;
    }
     ul li a:hover{
         color:white;
         text-decoration: none;
        
    }   
}
.absolute-center { 
    height: 50%; /* Set your own height: percents, ems, whatever! */
    width: 50%; /* Set your own width: percents, ems, whatever! */
    overflow: auto; /* Recommended in case content is larger than the container */
    margin: auto; /* Center the item vertically & horizontally */
    position: absolute; /* Break it out of the regular flow */
    top: 0; left: 0; bottom: 0; right: 0; /* Set the bounds in which to center it, relative to its parent/container */
  }
.close{
  color: white;
}

// INPUT TEXT STYLE
input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  width: 90%;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color:black;
  outline: none;
}