<nav class="navbar navbar-expand-md fixed-top-sm justify-content-start flex-nowrap text-center" id="logo">
    <button class="navbar-toggler navbar-toggler-left navbar-dark mr-auto" type="button" data-toggle="collapse" data-target="#navbar2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a [routerLink]="[ '/' ]">
      <h1 class="mt-3">3 ZERO 5</h1>
    </a>
    <!-- Try lupa -->
    <img src="../../assets/icons/search-tomato.svg" class="search ml-auto d-md-none" alt="Search Logo" width="25" height="25" data-toggle="modal" data-target=".iconSearcher"> 
      <div class="modal fade iconSearcher" tabindex="-1" role="searcher" aria-hidden="true">
        <div class="modal-dialog modal-xl absolute-center">
          <button type="button" class="close mb-2" data-dismiss="modal" aria-hidden="true">x</button>
          <div class="modal-content">
              <form action="" class="mt-5 mb-3 ml-2">
                <input type="text" class="ml-3 mb-3" placeholder="Buscar ...">
              </form>     
          </div>
        </div>
      </div>


</nav>
<nav class="navbar navbar-expand-md" id="mainMenu">
    <div class="navbar-collapse collapse text-center pt-2 pt-md-0" id="navbar2">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item mr-2">
                <a class="nav-link" href="#">OPINIÓN</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="#">REPORTAJES</a>
            </li>
            <li class="nav-item mr-2">
              <a class="nav-link" href="#">ACTUALIDAD</a>
          </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="#">ENTREVISTAS</a>
            </li>
            <li>
              <a class="nav-link mr-2" href="#">MÚSICA</a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="[ '/colaborator/house' ]">COLABORADORES</a>
            </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row justify-content-center mt-2 mt-lg-0">
          <li class="nav-item mr-2">
              <a class="nav-link" href="#">
                <img src="../../assets/icons/facebook.svg" class="facebook" alt="Facebook logo" width="25" height="25">
              </a>
          </li>
          <li class="nav-item mr-2">
              <a class="nav-link" href="#">
                <img src="../../assets/icons/instagram.svg" class="instagram" alt="Instagram Logo" width="25" height="25">
              </a>
          </li>
          <li class="nav-item mr-2">
              <a class="nav-link" href="#">
                <img src="../../assets/icons/youtube.svg" class="youtube" alt="Youtube Logo" width="25" height="25">
              </a>
          </li>
          <li>
            <a class="nav-link mr-2" href="#">
              <img src="../../assets/icons/twitter.svg" class="twitter" alt="Twitter Logo" width="25" height="25">
            </a>
          </li>
          <li>
            <a class="nav-link mr-2" [routerLink]="[ '/login' ]">
              <img src="../../assets/icons/user.svg" class="user" alt="User Logo" width="25" height="25">
            </a>
          </li>
      </ul>
      <img src="../../assets/icons/search.svg" class="search d-none d-md-block" alt="Search Logo" width="25" height="25" data-toggle="modal" data-target=".iconSearcher"> 
      <div class="modal fade iconSearcher" tabindex="-1" role="searcher" aria-hidden="true">
        <div class="modal-dialog modal-xl absolute-center">
          <button type="button" class="close mb-2" data-dismiss="modal" aria-hidden="true">x</button>
          <div class="modal-content">
              <form action="" class="mt-5 mb-3 ml-2">
                <input type="text" class="ml-3 mb-3" placeholder="Buscar ...">
              </form>     
          </div>
        </div>
      </div>
    </div> 
</nav>