<nav class="navbar-vertical">
  <h3 class="mt-2 mb-4">USERNAME</h3>
    <ul class="navbar-nav mt-3">
      <li class="nav-item mb-2 ml-4 d-flex justify-content-start align-items-center">
        <img src="../../../assets/icons/usuario-white.svg" class="personal mr-2" alt="User icon" width="20" height="20">
        <a class="nav-link" [routerLink]="[ '/colaborator/personal' ]">PERSONAL</a>
      </li>
      <li class="nav-item mb-2 ml-4 d-flex justify-content-start align-items-center">
        <img src="../../../assets/icons/article-white.svg" class="articles mr-2" alt="Article icon" width="20" height="20">
        <a class="nav-link" [routerLink]="[ '/colaborator/article' ]">Artículos</a>
      </li>
      <li class="nav-item mb-2 ml-4 d-flex justify-content-start align-items-center">
        <img src="../../../assets/icons/musica-white.svg" class="music mr-2" alt="music icon" width="20" height="20">
        <a class="nav-link" [routerLink]="[ '/colaborator/musicList' ]">Lista musical</a>
      </li>
      <li class="nav-item mb-2 ml-4 d-flex justify-content-start align-items-center">
        <img src="../../../assets/icons/opinion-white.svg" class="opinion mr-2" alt="Opinion icon" width="20" height="20">
        <a class="nav-link" [routerLink]="[ '/colaborator/opinion' ]">Opinión</a>
      </li>
      <li class="nav-item mb-2 ml-4 d-flex justify-content-start align-items-center">
        <img src="../../../assets/icons/entrevista-white.svg" class="opinion mr-2" alt="Opinion icon" width="20" height="20">
        <a class="nav-link" [routerLink]="[ '/colaborator/interview' ]">Entrevista</a>
      </li>
    </ul>
</nav>
  