<div class="container">
    <div class="login">
      <div class="login-triangle"></div>
  
      <h2 class="login-header">Create an account</h2>
  
      <form #frmRegister="ngForm" class="login-container" (ngSubmit)="onRegister(frmRegister)">
        <div class="group mt-5">
          <input type="text" name="name" ngModel required>
          <span class="bar"></span>
          <label class="name" for="name">Name</label>
        </div>
        <div class="group mt-5">
          <input type="email" name="email" ngModel required>
          <span class="bar"></span>
          <label class="email" for="email">Email</label>
        </div>
        <div class="group mt-5">
          <input type="password" name="password" ngModel required>
          <span class="bar"></span>
          <label class="password" for="password">Password</label>
        </div>
        <p>
          <input class="mt-4" type="submit" value="Register">
        </p>
      </form>
    </div>
  </div>
