<div class="row">
    <div class="col-3">
        <app-menu></app-menu>
    </div>

    <div class="col-9 mt-5">
        <h2>ESPACIO PERSONAL</h2>
        <p class="mb-5 ml-3">Desde este apartado podras consultar y modificar tu información personal y la firma que aparece cuando publicas algo nuevo.</p>
        
        <h4 clas="mb-5">INFORMACIÓN</h4>
            <div class="container ml-3">
                
                <div class="mb-3 row">
                    <div class="infoBlock col-sm-6 col-md-6 col-lg-3">
                        <img src="../../assets/icons/personal/name.svg" class="nameSurname" alt="Name icon">
                        <span><strong>Nombre</strong></span>
                        <p>Tracy Mcgrady</p>
                        <a class="btn" href="#">Cambiar nombre</a>
                    </div>
                    <div class="infoBlock col-sm-6 col-md-6 col-lg-3">
                        <img src="../../assets/icons/personal/email.svg" class="email" alt="Email icon" >
                        <span><strong>Email</strong></span>
                        <p>tmac@gmail.com</p>
                        <a class="btn" href="#">Cambiar email</a>
                    </div>
                    <div class="infoBlock col-sm-6 col-md-6 col-lg-3">
                        <img src="../../assets/icons/personal/password.svg" class="password" alt="Password icon" >
                        <span><strong>Contraseña</strong></span>
                        <p>t-macdabest</p>
                        <a class="btn" href="#">Cambiar contraseña</a>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="infoBlock col-sm-6 col-md-6 col-lg-3">
                        <img src="../../assets/icons/twitter.svg" class="twitter" alt="Twitter logo" >
                        <span><strong>Twitter</strong></span>
                        <p>@tmacdabest</p>
                        <a class="btn" href="#">Cambiar cuenta</a>
                    </div>
                    <div class="infoBlock col-sm-6 col-md-6 col-lg-3">
                        <img src="../../assets/icons/personal/web.svg" class="website" alt="Web icon" >
                        <span><strong>Web</strong></span>
                        <p>www.tmacdabest.com</p>
                        <a class="btn" href="#">Cambiar web</a>
                    </div>
                    <div class="infoBlock col-sm-6 col-md-6 col-lg-3">
                        <img src="../../assets/icons/personal/description.svg" class="description" alt="Description icon" >
                        <span><strong>Descripción</strong></span>
                        <p>Artista de la canasta</p>
                        <a class="btn" href="#">Cambiar descripción</a>
                    </div>
                </div>
            </div>  
    </div>
</div>
