<div class="row">
    <div class="col-3">
        <app-menu></app-menu>
    </div>

    <div class="col-9 mt-5">
        <h2>ESPACIO PERSONAL</h2>
        <p class="mb-5 ml-3">Desde este apartado podras consultar y modificar tu información personal y la firma que aparece cuando publicas algo nuevo.</p>
        
        <h4 clas="mb-5">INFORMACIÓN</h4>
            <div class="container ml-3">
                
                <div class="mb-3 row">
                    <div class="col-12">
                        <strong><p>Nombre y apellidos</p></strong>
                    </div>
                    <div class="col-6">
                        <span>Tracy Mcgrady</span>
                    </div>
                    <div class="col-6">
                        <a class="btn" href="#">Cambiar nombre y apellidos</a>
                    </div>
                </div>
                
                
                <div class="mb-3 row">
                    <div class="col-12">
                        <p><strong>Email</strong></p>
                    </div>
                    <div class="col-6">
                        <p>tmac@gmail.com</p>
                    </div>
                    <div class="col-6">
                        <a class="btn" href="#">Cambiar email</a>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-12">
                        <p><strong>Contraseña</strong></p>
                    </div>
                    <div class="col-6">
                        <p>t-macdabest</p>
                    </div>
                    <div class="col-6">
                        <a class="btn" href="#">Cambiar contraseña</a>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-12">
                        <p><strong>Twitter</strong></p>
                    </div>
                    <div class="col-6">
                        <p>@tmacdabest</p>
                    </div>
                    <div class="col-6">
                        <a class="btn" href="#">Cambiar cuenta</a>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-12">
                        <p><strong>Web</strong></p>
                    </div>
                    <div class="col-6">
                        <p>www.t-macdabest.com</p>
                    </div>
                    <div class="col-6">
                        <a class="btn" href="#">Cambiar contraseña</a>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-12">
                        <p><strong>Descripción</strong></p>
                    </div>
                    <div class="col-6">
                        <p>Artista de la canasta</p>
                    </div>
                    <div class="col-6">
                        <a class="btn" href="#">Cambiar descripción</a>
                    </div>
                </div>
            </div>
            
    </div>
</div>
