<div class="container">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
            <form action="" class="ml-3">
                <div class="group mt-5">
                    <input type="text" id="user" [(ngModel)]="user" name="user" required>
                    <span class="bar"></span>
                    <label class="user" for="user">User</label>
                </div>
                <div class="group mt-5">
                    <input type="email" id="email" [(ngModel)]="email" name="email" required>
                    <span class="bar"></span>
                    <label class="email" for="email">Email</label>
                </div>
                <div class="group mt-5">
                    <input type="password" id="password" [(ngModel)]="password" name="password" required>
                    <span class="bar"></span>
                    <label class="password" for="password">Password</label>
                </div>
                <div class="group mt-5">
                    <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="password" required>
                    <span class="bar"></span>
                    <label class="password" for="password">Confirm password</label>
                </div>
            </form>
            <button type="submit" class="btn btn-primary mt-3" (click)="register()">Register</button>
        </div>
        <div class="col"></div>
    </div>
</div>
